<h2>Add to todo list:</h2>

<form id="add_to_table" action="/add_to_table" method="POST">
    <label for="assignee">Assignee:</label>
    <br>
    <select id="add_to_table" id="assignee" name="assignee">
        <option value="Peter Venkman">Peter Venkman</option>
        <option value="Raymond Stantz">Raymond Stantz</option>
        <option value="Dana Barrett">Dana Barrett</option>
        <option value="Egon Spengler">Egon Spengler</option>
        <option value="Louis Tully">Louis Tully</option>
        <option value="Janine Melnitz">Janine Melnitz</option>
        <option value="Walter Peck">Walter Peck</option>
        <option value="Winston Zeddemore">Winston Zeddemore</option>
    </select>
    <br>
    <br>
    <label>Description:</label>
    <br>
    <input type="text" name="description" placeholder="Add description"></input>
    <br>
    <br>
    <label>Finish date:</label>
    <br>    
    <input type="text" name="finish_date" placeholder="Add finish date"></input>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>