<h2>Add to todo list:</h2>

<form id="add_to_table" action="/add" method="POST">
    <label>Assignee:</label>
    <br>
    <input type="text" name="assignee" placeholder="Add name"></input>
    <br>
    <br>
    <label>Description:</label>
    <br>
    <input type="text" name="description" placeholder="Add description"></input>
    <br>
    <br>
    <label>Finish date:</label>
    <br>    
    <input type="text" name="finish_date" placeholder="Add finish date"></input>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>