<h2>Delete from todo list by an ID:</h2>

<form id="complete_by_table" action="/complete_by_id" class="form-container" method="POST">
    <label>ID:</label>
    <br>
    <input type="text" name="ID" placeholder="Add ID"></input>
    <br>
    <br>
    <input type="submit" class="submit-button" value="Submit">
</form>