
    
    <h2 class="h2-contact">Contact Us</h2>
    
    <div class="row">
      <div class="column">
        <img src="https://media.giphy.com/media/5E5nESsND9zmo/giphy.gif" style="width:100%">
      </div>
      <div class="column">
        <form action="mailto:korsunskymichael@gmail.com" class="form-container" method="POST">
            <label>Full Name:</label>
            <br>    
            <input type="text" name="full_name" placeholder="Add full name"></input>
            <br>
            <br>
            <label for="assignee">Assignee:</label>
            <br>
            <select id="assignee" name="assignee">
                <option value="Peter Venkman">Peter Venkman</option>
                <option value="Raymond Stantz">Raymond Stantz</option>
                <option value="Dana Barrett">Dana Barrett</option>
                <option value="Egon Spengler">Egon Spengler</option>
                <option value="Louis Tully">Louis Tully</option>
                <option value="Janine Melnitz">Janine Melnitz</option>
                <option value="Walter Peck">Walter Peck</option>
                <option value="Winston Zeddemore">Winston Zeddemore</option>
            </select>
            <br>
            <br>
            <label>Description:</label>
            <br>
            <textarea type="text" name="description" placeholder="Add description" style="width:280px"></textarea>
            <br>
            <br>
            <input class="submit-button" type="submit" value="Submit">
        </form>
      </div>
    </div>
 
  