<h2>Delete from todo list by an ID:</h2>

<form id="delete_by_table" action="/delete_by_id" method="POST">
    <label>ID:</label>
    <br>
    <input type="text" name="ID" placeholder="Add ID"></input>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>