<h2>Delete an assignment from to do table by an ID:</h2>

<form id="delete_by_id" action="/delete_by_id" class="form-container" method="POST">
    <label>ID:</label>
    <span class="required">*</span>
    <br>
    <input type="text" name="ID" placeholder="Add ID"></input>
    <br>
    <br>
    <p aria-hidden="true" id="required-description">
        <span class="required">*</span>Required field
    </p>
    <br>
    <input type="submit" class="submit-button" value="Submit">
</form>