<h2>Update todo list by an ID:</h2>

<form id="update_by_id" action="/update_by_id" method="POST">
    <label>ID:</label>
    <br>
    <input type="text" name="ID" placeholder="Add ID"></input>
    <br>
    <br>
    <label>Assignee:</label>
    <br>
    <select name="assignee">
        <option value="Peter Venkman">Peter Venkman</option>
        <option value="Raymond Stantz">Raymond Stantz</option>
        <option value="Dana Barrett">Dana Barrett</option>
        <option value="Egon Spengler">Egon Spengler</option>
        <option value="Louis Tully">Louis Tully</option>
        <option value="Janine Melnitz">Janine Melnitz</option>
        <option value="Walter Peck">Walter Peck</option>
        <option value="Winston Zeddemore">Winston Zeddemore</option>
    </select>
    <br>
    <br>
    <label class="description">Description:</label>
    <br>
    <input type="text" name="description" placeholder="Add description"></input>
    <br>
    <br>
    <label>Finish date:</label>
    <br>    
    <input type="text" name="finish_date" placeholder="Add finish date"></input>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>