<h2>Update an assignment in to do table by an ID:</h2>

<form id="update_by_id" action="/update_by_id" class="form-container" method="POST">
    <label>ID:</label>
    <span class="required">*</span>
    <br>
    <input type="text" name="ID" placeholder="Add ID"></input>
    <br>
    <br>
    <label>Assignee:</label>
    <br>
    <select name="assignee">
        <option value=""></option>
        <option value="Peter Venkman">Peter Venkman</option>
        <option value="Raymond Stantz">Raymond Stantz</option>
        <option value="Dana Barrett">Dana Barrett</option>
        <option value="Egon Spengler">Egon Spengler</option>
        <option value="Louis Tully">Louis Tully</option>
        <option value="Janine Melnitz">Janine Melnitz</option>
        <option value="Walter Peck">Walter Peck</option>
        <option value="Winston Zeddemore">Winston Zeddemore</option>   
    </select>
    <br>
    <br>
    <label class="description">Description:</label>
    <br>
    <textarea type="text" name="description" placeholder="Add description" style="width:280px"></textarea>
    <br>
    <br>
    <label>Finish date (In YYYY-MM-DD format):</label>
    <br>    
    <input type="text" name="finish_date" placeholder="Add finish date"></input>
    <br>
    <br>
    <p aria-hidden="true" id="required-description">
        <span class="required">*</span>Required field
    </p>
    <br>
    <input type="submit" class="submit-button" value="Submit">
</form>