<h2>Update todo list by an ID:</h2>

<form id="update_table" action="/update" method="PUT">
    <label>ID:</label>
    <br>
    <input type="text" name="ID" placeholder="Add ID"></input>
    <br>
    <br>
    <label>Assignee:</label>
    <br>
    <input type="text" name="assignee" placeholder="Add name"></input>
    <br>
    <br>
    <label>Description:</label>
    <br>
    <input type="text" name="description" placeholder="Add description"></input>
    <br>
    <br>
    <label>Finish date:</label>
    <br>    
    <input type="text" name="finish_date" placeholder="Add finish date"></input>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>