.topnav {
  overflow: hidden;
  background-color: grey;
}

.topnav a{
  float: left;
  color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}

h1 {
  background-color:rgb(228, 34, 34);
  color:white;
  font-size: 40px; 
  margin: 0; 
  text-align: center;
}

h2 {
  
  text-decoration: underline black; 
  color:rgb(228, 34, 34);
  text-align: center;
}

.h2-todo {
  text-decoration: underline black; 
  color:rgb(228, 34, 34);
  text-align: center;
  margin-right:47%;
}

.h2-contact {
  text-decoration: underline black; 
  color:rgb(228, 34, 34);
  text-align: center;
  margin-left: 18%;
}

.footer-text {
  padding-top:2%;
}

table {
  padding-top:10%;
  margin-top: 2.7%;
  margin-bottom: 5%;
  margin-left: 2.7%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color:white;
}

td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
  
}
th {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.open-button {
  background-color: rgb(228, 34, 34);
  color: white;
  padding: 16px 20px;
  border: none;
  opacity: 0.8;
  position: center;
  width: 280px;
  margin-left:23.5%;
}

.form-popup {
  display: none;
  position: fixed;
  width:50%;
  margin-left:23.5%;
  position:relative;
  border: 3px solid #272525;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], textarea, select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.btn_cancel {
  background-color: rgb(228, 34, 34);
  color: white;
  padding: 16px 20px;
  border: none;
  width: 10%;
  margin-left:45%;
  opacity: 0.8;
}

.submit-button {
  background-color: rgb(228, 34, 34);
  color: white;
  padding: 16px 20px;
  border: none;
  width: 70%;
  margin-left:15.1%;
  opacity: 0.8;
}


#table-scroll {
  height:250px;
  overflow:auto;  
  margin-left:27.5%;
  margin-right:30%;
  margin-top:20px;
  
}
#table-wrapper table {
  width:100%;
}

* {
  box-sizing: border-box;
}

.column-left {
  background-color:rgb(228, 34, 34);
  float: left;
  width: 81.3%;
  padding: 5px;
  margin-top: 0.3%;
}

.column-right {
  float: left;
  width: 18.7%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.required {
  color: rgb(228, 34, 34);
}