<!DOCTYPE html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>             
    <header>
        <%- include('../partials/header'); %>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/todo">To Do</a>
        </div>
    </header>

    <main>
        <iframe class="main-music-video" frameborder="0" width="380" height="300" src="https://www.youtube.com/embed/m9We2XsVZfc?autoplay=1"></iframe>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    

</body>
</html>