<!DOCTYPE html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>             
    <header>
        <%- include('../partials/header'); %>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/todo">To Do</a>
        </div>
    </header>

    <main>
        <%- include('../partials/contact'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    

</body>
</html>